body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
  text-align: center;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav span {
    display: inline-block;
    padding: 20px 20px;
}

header nav span a {
  color: seashell;
}
